# Firebase environment variables
.env
.env.local
node_modules

# Service account keys
fastrack-drivingschool-website-firebase-adminsdk-prc97-732953591a.json.json

# Ignore all video files
*.mp4

*storybook.log
storybook-static
