/* src/pages/Contact.css */
.contact-page-container {
    background-color: rebeccapurple; /* Purple background */
    color: white;
    min-height: calc(100vh - 80px); /* Full height minus navbar */
    line-height: 1.6;
}

.contact-info-section {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.contact-form-section {
    background-color: #333; /* Navbar grey */
    padding: 40px;
}

.form-instructions {
    background-color: white;
    color: black;
    padding: 20px 40px;
    max-width: 800px;
    margin: 10px auto 0;
    border-radius: 8px;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

.contact-page-container h1 {
    margin-bottom: 20px;
}

.contact-details {
    background: var(--white);
    color: var(--dark-gray);
    border: 1px solid var(--light-gray-3);
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.contact-details:hover {
    transform: translateY(-5px);
}

.btn btn-primary {
    color: var(--white);
}