/* src/pages/Courses.css */
.course-info-container {
  background: var(--primary-color);
  padding: 50px 20px;
  text-align: center;
}

.course-info-container h1, .course-info-container p, .course-info-container > h2 {
  color: var(--white);
}

.features-container {
  background: var(--dark-gray);
  padding: 50px 20px;
  margin-top: 10px;
  text-align: center;
  color: var(--dark-gray);
}

.features-title {
  color: var(--white);
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature-card {
  background: var(--white);
  border: 1px solid var(--light-gray-3);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h2 {
  font-size: 1.5rem;
  color: var(--dark-gray);
}

.feature-card p {
  color: var(--dark-gray);
}

.course-list-container {
  background: var(--dark-gray);
  padding: 50px 20px;
  margin-top: 10px;
  text-align: center;
}

.courses-title {
    color: var(--white);
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.course-card {
  background: var(--light-gray-1);
  border: 1px solid var(--light-gray-3);
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card h2 {
  font-size: 1.5rem;
  color: var(--dark-gray);
  text-decoration: underline;
}

.course-card .course-description {
  flex-grow: 1; /* This pushes the price and button to the bottom */
}

.course-card .course-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--price-color);
  margin: 15px 0;
}