.profile-container {
  gap: 2rem;
}

.user-profile-section {
  background-color: var(--dark-gray);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.my-courses-container {
  margin-top: 2rem;
}

.my-courses-section {
  background-color: var(--light-gray-2);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile-section h2,
.my-courses-section h3 {
  margin-top: 0;
  border-bottom: 1px solid var(--light-gray-4);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.my-courses-section ul li h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-secondary {
  background-color: var(--secondary-color) !important;
  color: var(--white);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover) !important;
}

.my-courses-section ul li {
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .profile-container {
    gap: 1rem;
  }

  .my-courses-section .btn {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  .my-courses-section .btn:last-child {
    margin-bottom: 0;
  }

  .my-courses-section .btn-primary {
    font-size: 1rem;
  }
}

/* Styles for the edit form within the user profile */
.user-profile-section .auth-form {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.user-profile-section .auth-form label {
  color: var(--white);
}

.user-profile-section .auth-form input {
  background-color: var(--light-gray-2);
  color: var(--dark-gray);
  border: 1px solid var(--light-gray-4);
}
