.footer {
  background-color: var(--dark-gray); /* Match navbar background */
  color: #58c6e4; /* Lighter turquoise for contrast against dark-gray */
  font-size: 1.2rem; /* Larger font size to meet WCAG contrast for large text */
  font-weight: bold; /* Makes text 'large' for WCAG, passing contrast test */
  padding: 20px;
  text-align: center;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
  footer {
    padding: 10px;
  }
}