:root {
  --primary-color: rebeccapurple;
  --secondary-color: #2bb8d4; /* More blue Turqoise */
  --secondary-color-hover: #198cb8; /* Darker blue Turqoise */
  --danger-color: #e74c3c;
  --danger-color-hover: #c0392b;
  --dark-gray: #333;
  --light-gray-1: #f9f9f9;
  --light-gray-2: #f0f0f0;
  --light-gray-3: #ddd;
  --light-gray-4: #ccc;
  --secondary-gray: #6c757d;
  --secondary-gray-hover: #5a6268;
  --white: #fff;
  --success-color: green;
  --price-color: #4CAF50;
}

/* src/App.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.content {
  flex: 1; /* This makes the content area grow to fill available space */
}